<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Responsive Banner Ads with HTML5 and CSS3</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="displayheight" content="31, 60, 90, 125, 250, 400, 600" />
<link rel="stylesheet" href="/stylesheets/ad.css" />
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
</head>
<body>

<a target="_top">
	<h1><span>Kaanta</span> <span>Laga Boy</span></h1>
	<h2><span>from <strong>Pronto IT Labs</strong></span> <span> <strong> </strong></span></h2>
	<img src="images/amit.jpg" alt="Amit Sharma" />
	<p><span>By Aakash</span> <span>Sharma</span></p>
</a>

</body>
</html>