<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8" />
  <title>MobiAdz Admin!.. :)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/checker.css" />
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
</head>
<body>
	<!-- <section id="static">
		<img src="ad_fav.png" style="float: right; bottom: -7px; width: auto; height: inherit; position: relative;" />
  		<iframe id="adserve" src="/ad.html" border="0" scrolling="no" allowtransparency="true" width="100%" height="90" style="border:0;" onload="adFun()"></iframe>
	</section> -->

  <section id="static">
      <iframe id="adserve" src="/ad.html" border="0" scrolling="no" allowtransparency="true" width="100%" height="90" style="border:0;" onload="adFun()"></iframe>
  </section>

  <script src="/javascripts/client.min.js"></script>

  <script type="text/javascript">
  	$( document ).ready(function() {
     $.getJSON('//ipinfo.io', function(data){
     		console.log(JSON.stringify(data, null, 4));
		  });

        var client = new ClientJS();
        console.log("Fingerprint:",client.getFingerprint());
        console.log("UserAgent:",client.getUserAgent());
        console.log("Browser:",client.getBrowser());
        console.log("BrowserVersion:",client.getBrowserVersion());
        console.log("BrowserMajorVersion:",client.getBrowserMajorVersion());
        console.log("Engine:",client.getEngine());
        console.log("EngineVersion:",client.getEngineVersion());
        console.log("OS:",client.getOS());
        console.log("OSVersion:",client.getOSVersion());
        console.log("Device:",client.getDevice());
        console.log("DeviceType:",client.getDeviceType());
        console.log("DeviceVendor:",client.getDeviceVendor());
        console.log("CPU:",client.getCPU());
        console.log("JavaVersion:",client.getJavaVersion());
        console.log("TimeZone:",client.getTimeZone());
        console.log("Language:",client.getLanguage());
        console.log("SystemLanguage:",client.getSystemLanguage());

        adFun();

    });

    function postAndRedirect(url, postData, target) {
      $.ajax({
        url: url,
        type: 'POST',
        data: JSON.stringify(postData),
        headers: {
          "Content-Type": "application/json; charset=utf-8"
        },
        success: function (data) {
          console.log(data);
          if(isJsonString(data)) 
            data = JSON.parse(data);
          if(data.status) {
            window.open(data.data);
          }
        },
        error: function (data) {
          console.log(data);     
        }
      });
    };

    function adFun() {
  		var iFrame = document.getElementById("adserve");
  		document.getElementById("adserve").contentWindow.document.body.onclick = function() {
        // if(is_mobile()) {
        //   window.open("http://goyalzz.blogspot.in","_system");
        // } else {
        //   window.open("http://goyalzz.blogspot.in","_self");
        // }

        var values = {};

        $.getJSON('//ipinfo.io', function(data){
          values.ip = data.ip;
          values.hostName = data.hostname;
          values.city = data.city;
          values.region = data.region;
          values.country = data.country;
          values.loc = data.loc;
          values.internetProvider = data.org;
        });

        var client = new ClientJS();
        values.fingerPrint = client.getFingerprint();
        values.userAgent = client.getUserAgent();
        values.browser = client.getBrowser();
        values.browserVersion = client.getBrowserVersion();
        values.browserMajorVersion = client.getBrowserMajorVersion();
        values.engine = client.getEngine();
        values.engineVersion = client.getEngineVersion();
        values.os = client.getOS();
        values.osVersion = client.getOSVersion();
        values.device = client.getDevice();
        values.deviceType = client.getDeviceType();
        values.deviceVendor = client.getDeviceVendor();
        values.cpu = client.getCPU();
        values.javaVersion = client.getJavaVersion();
        values.timezone = client.getTimeZone();
        values.language = client.getLanguage();
        values.systemLanguage = client.getSystemLanguage();

        console.log("POST Request", values);

        postAndRedirect("http://192.168.1.3:8080/api/v1/click?"+location.search.substr(location.search.indexOf("?")+1), values);
    	}
    };

    function is_mobile() {
    	var agents = ['android', 'webos', 'iphone', 'ipad', 'blackberry'];
    	for(i in agents) {
        	if(navigator.userAgent.match('/'+agents[i]+'/i')) {
            	return true;
	        }
    	}
    	return false;
    };

    function getParam ( sname ) {
      var params = location.search.substr(location.search.indexOf("?")+1);
      var sval = "";
      params = params.split("&");
      // split param and value into individual pieces
      for (var i=0; i<params.length; i++)
        {
          temp = params[i].split("=");
          if ( [temp[0]] == sname ) { sval = temp[1]; }
        }
      return sval;
    };

    function isJsonString(str) {
      try {
          JSON.parse(str);
      } catch (e) {
          return false;
      }
      return true;
    };

  </script>

</body>
</html>