<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="utf-8" />
<title>MobiAdz Admin!.. :)</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/stylesheets/checker.css" />
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
	<p class="blinking">This AD Agency donot serve AD's for your Country</p>

<script type="text/javascript">
  function blinker() {
    $('.blinking').fadeOut(500);
    $('.blinking').fadeIn(500);
  };
  setInterval(blinker, 1000);
</script>

</body>
</html>