<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Responsive Banner Ads with HTML5 and CSS3</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="displayheight" content="31, 60, 90, 125, 250, 400, 600" />
<link rel="stylesheet" href="/stylesheets/ad.css" />
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
	$( document ).ready(function() {
	    $.getJSON('//ipinfo.io', function(data){
	    	window.alert(JSON.stringify(data));
  			if(data.country !== 'IN') {
  				window.open("https://mobiadzapi.herokuapp.com/blinktextad.html","_self");
  			}
		});
	});
</script>
</head>
<body>

<a target="_top" href="https://mobiadzapi.herokuapp.com/ig">
	<h1><span>Kaanta</span> <span>Laga Boy</span></h1>
	<h2><span>from <strong>Pronto IT Labs</strong></span> <span> <strong> </strong></span></h2>
	<img src="images/amit.jpg" alt="Amit Sharma" />
	<p><span>By Aakash</span> <span>Sharma</span></p>
</a>

</body>
</html>