<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="utf-8" />
<title>MobiAdz Admin!.. :)</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/stylesheets/checker.css" />
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
</head>
<body>
	<section id="static">
		<img src="ad_fav.png" style="float: right; bottom: -7px; width: auto; height: inherit; position: relative;" />
  		<iframe id="adserve" src="/installad.html" border="0" scrolling="no" allowtransparency="true" width="100%" height="90" style="border:0;"></iframe>
	</section>

</body>
</html>